---
import Layout from '../layouts/Layout.astro';
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import About from '@/components/sections/About.astro';
import Hero from '@/components/sections/Hero.astro';
import Contact from '@/components/sections/Contact.astro';
import Education from '@/components/sections/Education.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title="Portfolio Marcos">
	<main class="a4-layout">
		<div class="carousel">
			<section class="page paper-background first-page">
				<Hero />
				<About id="aboutSection" class="section-margin-large" />
			</section>
			<section class="page paper-background">
				<Experience />
				<Education />
			</section>
			<section class="page paper-background">
				<Skills />
				<Projects />
			</section>
			<section class="page paper-background">
				<Contact id="contactSection">
					<button id="backToAbout" class="back-to-about">Back to About</button>
				</Contact>
			</section>
		</div>
	</main>
	<KeyboardManager/>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const sections = document.querySelectorAll('.page');
    let currentIndex = 0;

	function showSection(index: number) {
      sections.forEach((section, i) => {
		(section as HTMLElement).style.display = i === index ? 'block' : 'none';
      });
    }

    function nextSection() {
      currentIndex = (currentIndex + 1) % sections.length;
      showSection(currentIndex);
    }

    function prevSection() {
      currentIndex = (currentIndex - 1 + sections.length) % sections.length;
      showSection(currentIndex);
    }

    document.addEventListener('keydown', (event) => {
      if (event.key === 'ArrowRight') {
        nextSection();
      } else if (event.key === 'ArrowLeft') {
        prevSection();
      }
    });

    showSection(currentIndex);
  });
</script>

<style>
	body {
		background: #e0e0e0; /* Set the background to gray to distinguish pages */
		padding: 0; /* Remove padding to prevent scrolling */
		overflow: hidden; /* Disable scrolling */
	}

	main {
		padding: 0; /* Remove padding to prevent scrolling */
		margin: auto;
		width: 100%;
		background: #f0f0f0; /* Set the background to gray */
		border: 1px solid #ccc; /* Apply border to the main container */
		border-radius: 5px; /* Add slight rounding to the corners */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
		height: 100vh; /* Full viewport height */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.a4-layout {
		max-width: 210mm;
		margin: auto;
		background: white;
		border-radius: 5px; /* Add slight rounding to the corners */
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.carousel {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.page {
		display: none; /* Hide all sections by default */
		width: 100%;
		height: 100%;
		background: white; /* Ensure the page background is white */
		padding: 20mm; /* Add padding inside the page */
		box-sizing: border-box; /* Include padding and border in the element's total width and height */
		border: 1px solid #ccc; /* Add border to simulate the edge of a sheet */
		border-radius: 5px; /* Add slight rounding to the corners */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
	}

	.paper-background {
		background: white; /* Ensure the background is white */
	}

	.first-page {
		margin-top: 0;
	}

	.section-margin {
		margin-top: 20mm; /* Add margin to separate sections */
	}

	.section-margin-large {
		margin-top: 30mm; /* Increase margin to prevent overlap */
	}

	.section-margin-top {
		margin-top: 10mm; /* Add margin to separate sections */
	}

	.paper-border {
		border-top: 10px solid #ccc; /* Lighten the top border */
	}

	.no-background {
		background: none;
	}

	.back-to-about {
		margin-top: 20px;
		padding: 10px 20px;
		background-color: #6c757d;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.back-to-about:hover {
		background-color: #5a6268;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
