---
import Layout from '../layouts/Layout.astro';
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import About from '@/components/sections/About.astro';
import Hero from '@/components/sections/Hero.astro';
import Contact from '@/components/sections/Contact.astro';
import Education from '@/components/sections/Education.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title="Portfolio Marcos">
	<main>
		<header class="hero-container">
			<Hero />
		</header>
		<div class="scroll-container" id="scrollContainer">
			<About id="aboutSection" />
			<Experience />
			<Education />
			<Skills />
			<Projects />
			<Contact id="contactSection">
				<button id="backToAbout" class="back-to-about">Back to About</button>
			</Contact>
		</div>
	</main>
	<KeyboardManager/>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const scrollContainer = document.getElementById('scrollContainer');
    const contactSection = document.getElementById('contactSection');
    const backToAboutButton = document.getElementById('backToAbout');

    if (scrollContainer && contactSection && backToAboutButton) {
      backToAboutButton.addEventListener('click', () => {
        scrollContainer.scrollTo({ top: 0, behavior: 'smooth' });
      });
    }
  });
</script>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	.hero-container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background: white; /* Optional: to ensure the background is consistent */
	}

	.scroll-container {
		margin-top: 20vh; /* Adjust based on the height of the Hero section */
		height: calc(100vh - 80px); /* Adjust based on the height of the Hero section */
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
		scrollbar-width: none; /* For Firefox */
		-ms-overflow-style: none;  /* For Internet Explorer and Edge */
	}

	.scroll-container::-webkit-scrollbar {
		display: none; /* For Chrome, Safari, and Opera */
	}

	.scroll-container > * {
		scroll-snap-align: start;
	}

	.back-to-about {
		margin-top: 20px;
		padding: 10px 20px;
		background-color: #6c757d;
		color: white;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.back-to-about:hover {
		background-color: #5a6268;
	}

	@media (width <= 700px) {
		main {
			padding: 2rem;
		}
	}
</style>
